.portfolio {
  padding: 64px 0px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    padding: 0px 16px;
  }
  .portfolio_h {
    font-weight: 400;
    font-size: 43px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
  }
}

.portfolio_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .project_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .portfolio_h_4 {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.3;
      letter-spacing: -0.01em;
      color: #fff;
    }
    .portfolio_p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      color: #c7c7c7;
    }
    .project_image {
      border-radius: 8px;
    }
  }
}

.project_tech {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #c7c7c7;
}

.project_links {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .project_button {
    display: inline-block;
    padding: 8px 66px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* прибирає підкреслення */
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover,       // ховер
    &:focus {
      // фокус (коли користувач табом або клікає)
      background-color: #40b822; /* трохи світліше при наведенні */
      outline: none; /* прибирає стандартну обведену рамку браузера */
    }
  }
}
