.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1b1a1a;

  .container {
    display: flex;
    align-items: center;
    justify-content: center; // мобільний - все по центру
    margin: 0 auto;
    padding: 0 16px;
    gap: 8px;
    max-width: 100%;

    @media screen and (min-width: 768px) {
      justify-content: space-between; // планшет - логотип зліва, решта справа
      gap: 20px;
    }

    @media screen and (min-width: 1280px) {
      justify-content: space-around; // десктоп - рівномірний розподіл
    }
  }
}

// Логотип
.logo {
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #c7c7c7;
  padding: 20px 0;
}

// Меню
.header_ul {
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 500px;
  }
}

.mobile_menu {
  display: none;
}

// Перемикач мови та теми
.language_switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    gap: 20px;
  }

  .theme_switcher {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .language_switcher_button {
    background-color: #28a745;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 10px;

    &:hover {
      background-color: #40b822;
    }

    &.active {
      background-color: #3a4b3d;
    }
  }
}

// Бургер-меню
.burger_menu {
  background-color: transparent;
  border: none;

  .burger_menu_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-width: 2px;
    stroke: #c7c7c7;
    width: 18px;
    height: 20px;

    @media screen and (min-width: 768px) {
      margin-left: 20px;
      width: 24px;
      height: 24px;
    }
  }

  @media screen and (min-width: 1280px) {
    display: none; // ховаємо на десктопі
  }
}

// Додаткові стилі навігації для десктопу
@media screen and (min-width: 1280px) {
  .navigation {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    flex: 1;

    .ul_navigation_li {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.6;
      color: #c7c7c7;
    }
  }
}
