// SkillCircle.module.scss
.skill {
  width: 80px;
  margin: 1rem;
  text-align: center;

  .label {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #ccc; // світліший текст
  }

  // Можеш додати стилі для анімації або hover-ефекту
}
