.skill {
  width: clamp(70px, 5vw, 100px);
  margin: 1rem;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .label {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #ccc;
    transition: color 0.3s ease;
  }

  &:hover .label {
    color: #fff; // ще світліше при наведенні
  }
}
