.skill {
  width: clamp(70px, 5vw, 100px);
  margin: 1rem;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-color); // основний текстовий колір з теми

  &:hover {
    transform: scale(1.08);
    background-color: transparent;
    color: var(--accent-color); // акцент при наведенні
  }

  .label {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-color); // використовує змінну теми
    transition: color 0.3s ease;
  }

  &:hover .label {
    color: var(--accent-color); // акцент при наведенні
    background-color: transparent;
  }
}
