.foto {
  padding: 64px 0px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    padding: 0px 16px;
    gap: 8px;
    // max-width: 375px;
  }
  .my_foto {
    border-radius: 8px;
    width: 100%;
  }
  .about_me_text {
    display: none;
  }
}
