.footer {
  padding: 24px 0px;

  .container {
    display: flex;
    margin: 0 auto;
    padding: 0px 16px;
  }
}

.container_footer_p {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #c7c7c7;
  padding: 20px 0px;
  margin: 0 auto;
}
