.experience {
  padding: 24px 0px;
  background-color: var(--bg-color); // 游댳 혟쮏 향햪혰햫혩혮혝혧혜혪 햟향쮏 혰향 혝햣햪쮐

  .container {
    text-align: left;
    align-items: flex-start;
    display: flex;
    margin: 0 auto;
    padding: 0px 16px;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
      flex-direction: row;
      gap: 10px;
      color: var(--text-color); // 游댳 햨쮏혰 혝햣햨혜혝혞 향햟햩햣햤햦혝혧 쒬뒗 혝햣햪햦
    }
  }
  .experience_h {
    margin-bottom: 32px;
    color: #fff;
    font-size: 43px;
    color: var(--text-color); // 游댳 향햟햩햣햤햦혝혧 쒬뒗 혝햣햪햦
    @media screen and (min-width: 1280px) {
      flex: 1;
      padding: 10px;
      margin-bottom: 0px;
    }
  }
}

.experience_right {
  @media screen and (min-width: 1280px) {
    flex: 1;
    padding: 10px;
  }
  .experience_p_two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color); // 游댳 향햟햩햣햤햦혝혧 쒬뒗 혝햣햪햦
    // margin-bottom: 12px;
  }
  .experience_right_top {
    .experience_p {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.3;
      letter-spacing: -0.01em;
      color: var(--text-color); // 游댳 향햟햩햣햤햦혝혧 쒬뒗 혝햣햪햦
      margin-bottom: 4px;
    }
  }
  .experience_p_two_two {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color); // 游댳 향햟햩햣햤햦혝혧 쒬뒗 혝햣햪햦
  }
}

.experience_right_down {
  .experience_p_three {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: var(--text-color); // 游댳 향햟햩햣햤햦혝혧 쒬뒗 혝햣햪햦
    margin-bottom: 4px;
  }

  .experience_p_four_four {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color); // 游댳 향햟햩햣햤햦혝혧 쒬뒗 혝햣햪햦
    margin-bottom: 4px;
  }
}

.goit {
  color: #ff6600;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: "Arial", sans-serif;
  transition: all 0.3s ease;
}

.experience_p_five {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: #d3e97a;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .experience {
    padding: 40px 0px;
  }
}
