/* Скидання відступів для заголовків та абзаців */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Плавна прокрутка */
html {
  scroll-behavior: smooth;
}

/* Останній абзац */
p:last-child {
  margin-bottom: 0;
}

/* Скидання списків */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Скидання стилів для посилань та кнопок */
a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Сховані елементи для доступності */
.visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-VariableFont_wght.woff2") format("woff2");
  font-weight: 400 700; /* діапазон ваг */
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  color: #c7c7c7;
  letter-spacing: 0.02em;
  background-color: #0a0a0a;
  transition:
    background-color 0.3s,
    color 0.3s;

  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #c7c7c7;
}

/* === ГЛОБАЛЬНІ ЗМІННІ ДЛЯ ТЕМИ === */

:root {
  /* Світла тема за замовчуванням */
  --bg-color: #ffffff;
  --card-bg-color: #f5f5f5; /* фон карток для світлої теми */
  --text-color: #1b1a1a;
  --accent-color: #00ff95;
  transition: all 0.3s ease;
  --li-bg-color: #ffffffbe;
}

body.dark {
  --card-bg-color: #1a1a1a; /* фон карток для темної теми */
  --bg-color: #000000;
  --text-color: #ffffff;
  --accent-color: #1cce6f;
  --li-bg-color: #2b2828be;
}

body.light {
  --bg-color: #ffffff;
  --text-color: #1b1a1a;
  --accent-color: #2d8d35;
  --card-bg-color: #f5f5f5; /* фон карток для світлої теми */
  --li-bg-color: #ffffffbe;
}

.blur_effect {
  filter: blur(10px);
  transition: filter 1s ease;
}

.gradient_effect {
  background: linear-gradient(270deg, #ff6ec4, #7873f5);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hover-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
